.mySlides{
    margin-left: 30px;
}
input[type="date"]{
    text-align-last: right;
    font-size: 10px;
}
input[type="time"]{
    text-align: right;
}
::-webkit-calendar-picker-indicator{
    position:absolute;
   align-items: flex-start;
   margin-left: 0px;
   
}

.room:hover{
    text-decoration: underline;
    color:#3662D8 ; 
    cursor: pointer;
}
 .demo{
    width:30px;
    cursor:pointer;
    color: black;
    font-size: 12px;
    font-weight: bold;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }
.demo:hover{  
    display:inline-block;
    width: auto;
border-bottom: 2px solid black;
padding-bottom:10px;
  
}
.btn{
     height: 48px; 
     width: 165px;
     background-color: #3662d8;
     margin: 40%; 
     margin-top: 2%; 
     border-radius: 0.5rem;
     border: none;
     color:white;
}
.btn:hover{
   background-color: #1147db;
   cursor: pointer;
}

.sinpdate1{
border-radius: 5px;
 height: 40px;
width: 60%;
border:black 0.5px solid;
margin-left:5px ;
}

.sinptext1{
border-radius: 5px;
 height: 40px;
  width: 95%;
  border:black 0.5px solid;
}
.sinptext2{
border-radius: 5px;
height: 40px;
border:black 0.5px solid;
width: 95%;
margin-left: 5px;
font-size: 10px;
   
}
.intime{
    border-radius: 5px;
     height: 40px;
       border:black 0.5px solid
    }


.cinptext1{
    border-radius: 5px;
 height: 40px;
width: 18%;
border:black 0.5px solid;
width: 48%;
}
.cinpdate{
    border-radius: 5px;
    height: 40px;
   width: 18%;
   border:black 0.5px solid;
   width: 23.5%;
}

.fas{
 position: absolute;
  margin-top: 8px; 
  padding: 5px 9px;
  color: black;
}
.hr1{
 margin-top: -8px;
 width: 90%;
 margin-left: 5%; 
 border: 0.5px grey solid;
}
.scheck{
color: black;
margin-top: 30px;
display: flex; 
   
}
.sdate{
    
    display:flex;
    width: 40%; margin-left: -20px;
}
.inputbig{
    width: 100%;
display: flex;

}
.sinput{
    width:50%;
   
    
}
.sicon{
    margin-left:auto ;
    width: 30%;
   
}
#schk1{
height: 15px;
width: 15px;
border-radius: 3px;
}
#schk2{
   height: 15px;
   width: 15px;
   margin-left: 50px; 
   border-radius: 3px;
}
#schk1,#schk2, #schk3,label{
   margin-top: 20px;
   font-size: 10px;
   margin-bottom: 12px;

}
#schk3{
height: 12px;
width: 14px;
margin-top: 30px;


}
#schk3, #schk2,#schk1,label:hover{
   cursor: pointer;
    color: #3662D8;
   
}
#pchk1{
    margin-top: 20px;
    font-size: 10px;
}
.tinptext{
    border-radius: 5px; 
    height: 40px; 
    width: 50%; 
    border:black 0.5px solid;
}

.tinpdate{
    border-radius: 5px; 
    height: 40px; 
    width: 22%; 
    border:black 1px solid;
}
.bigbox{
display: flex;
}
.col2{
   color: black;
background-color: white;
display: flex;
align-items: flex-start;
justify-content: flex-end;
border: 1px solid rgb(250, 249, 252);
width:auto;
height:50px;
font-size: 12px;
}
.col2_1{
color: #3662D8;
border: none;
}
.col2_1:hover{
text-decoration-line: underline;
color: #3662D8;
cursor: pointer;

}
.col2_2{
color: #3662D8;
border: none;
margin-left: 10px;
}
.col2_2:hover{
text-decoration-line: underline;
color: #3662D8;
cursor: pointer;

}
.ninptext2{
    border-radius: 5px;
    height: 40px;
     width: 35%;
     border:black 0.5px solid;
     
  }
.box2{
width: 90%;
height: 50px;
display: flex;
margin-bottom: 20px;
}
.box3{
display: flex;
justify-content: flex-end;
width:96%;
height:40px;
font-size: 12px;
}
.col2_3{
margin-bottom: 20px;
text-decoration-style: none;
border: none;
color: #3662D8;

}
.col2_3:hover{
text-decoration: underline;
cursor: pointer;
}
.col1{
display: flex;
width:40%;
height:50px;
align-items: center;
margin-top: -10px;
}

.col1>.button1{
color: black;
}
.button1:hover, button:focus {
background:lavender;
outline: 0;
color: #3662D8;
}
.button1{
height: 38px;
width: 103px;
background-color: white;
border-radius: 0.5rem;
border: none; color:black;
font-weight: light;
font-size: 12px;}
.w3-content{
    max-width: 100%;
    border: 1px solid grey;
    border-radius: 8px; 
    margin: 40px; 
    /* margin-left:10%; */
}
.fbig{
    display: flex;
}
.fsmall1{
  width: 80%;
  
}
.fsmall2{
 width:40%;
 margin-left: -15px;

}
.finpdate1{
    width: 48%;
    border-radius: 5px;
    height: 40px;
      border:black 0.5px solid;
}
    
.finptext1{
    width: 48%;
    border-radius: 5px; 
    height: 40px; 
    border:black 0.5px solid
}
.pbig{
    display: flex;
}
.psmall1{
    width: 70%;
}
.psmall2{
  width:30%;
  margin-left: -15px;
}


.pinptext{
    border-radius: 10px; 
    height: 40px; 
    width: 48%;
    border:black 0.5px solid;
}
.pinpdate{
    border-radius: 10px;
     height: 40px; 
     width: 48%; 
     border:black 0.5px solid;
}
@media only screen and (max-width: 990px) {
.pbig{
    display: block;
}
.psmall1{
    width: 95%;

}
.psmall2{

  width:95%;
  margin-left: -15px;
}


.pinptext{
 
    border-radius: 5px; 
    height: 40px; 
    width: 48%;
    border:black 0.5px solid;
}
.pinpdate{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: -15px;
    border-radius: 5px;
     height: 40px; 
     width: 48%; 
     border:black 0.5px solid;
}
   
   
   
   
    .fbig{
        display: block;
    }
   
    .fsmall1{
        width: 100%; 
        
      }
      .fsmall2{
       width:100%;
       margin-left: 10px;
      
      }
      .finpdate1{
          margin-top: 20px;
          width: 48%;
          border-radius: 5px;
          height: 40px;
        border:black 0.5px solid;
         margin-left: -10px;
         margin-right: 10px;
         margin-bottom: 20px;
      }
          
      .finptext1{
          width: 48%;
          border-radius: 5px; 
          height: 40px; 
          border:black 0.5px solid
      }
    .w3-row-padding{
      width: 70%;
      margin-left:15% ;
    }
    .w3-content{
        height: 420px;
        
    }
    .btn{
       margin-left: 30%;
    }
    .mySlides{
        width: auto;}
     
        .sdate{ 
            margin-top: 20px;
            margin-bottom: 20px;
            display:flex;
            width: 95%; 
            margin-left: -5px;
            
        }
    .inputbig{ 
        
            width: 100%;
            display:inline-table;
        }
    .sinput{
        
            width:100%;   
        }
    .sicon{
         margin-left:auto ;
         width: 100%;
         margin-left: -5px;
        }
      .ninptext2{
        border-radius: 5px;
        height: 40px;
         width: 95%;
         border:black 0.5px solid;
      }

  }




















  @media only screen and (max-width: 540px) {
    .w3-row-padding{
      width: 70%;
      margin-left:15% ;
    }
    .w3-content{
        height: 420px;
        
    }
    .btn{
        margin-left: 0px;
       width: 95%;
    }
    .mySlides{
        width: auto;}
     
        .sdate{ 
            margin-top: 20px;
            margin-bottom: 20px;
            display:flex;
            width: 95%; 
            margin-left: -5px;
            
        }
    .inputbig{ 
        
            width: 100%;
            display:inline-table;
        }
    .sinput{
        
            width:100%;   
        }
    .sicon{
         margin-left:auto ;
         width: 100%;
         margin-left: -5px;
        }
      .ninptext2{
        border-radius: 5px;
        height: 40px;
         width: 95%;
         border:black 0.5px solid;
      }
  }